body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
html {
  color: #000;
}
html,
body {
  height: auto;
}
body,
button,
input,
select,
textarea {
  font-size: 14px;
  font-family: 'Microsoft Yahei', '微软雅黑', '宋体', arial, 'Hiragino Sans GB', Tahoma, Arial, Helvetica !important;
}
ul,
ol,
li,
dl,
dd,
dt {
  list-style: none;
}
em {
  font-style: normal;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
label,
button {
  cursor: pointer;
}
input {
  outline: none;
}
/*解决IE图片缩放失真*/
img {
  -ms-interpolation-mode: bicubic;
}
/*清除浮动*/
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clear {
  clear: both;
}
/*连续英文、数字换行*/
.wordwrap {
  word-break: break-all;
  word-wrap: break-word;
}
/*单行文字超出显示省略号*/
.omg {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mainColor {
  color: #ffb452;
}
.greenColor {
  color: #23b371;
}
.darkOrange {
  color: #ff9752;
}
.lightOrang {
  color: #ffc171;
}
.mainColor-bg {
  background-color: #ffb452;
}
.greenColor-bg {
  background-color: #23b371;
}
.darkOrange-bg {
  background-color: #ff9752;
}
.lightOrang-bg {
  background-color: #ffc171;
}
.mainColor-bd {
  border-color: #ffb452;
}
.greenColor-bd {
  border-color: #23b371;
}
.darkOrange-bd {
  border-color: #ff9752;
}
.lightOrang-bd {
  border-color: #ffc171;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
